<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/siteAutorization.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/siteProfile.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.4.15/dist/vue.global.js"></script>
    <style>
        .HowIsWork{
            text-align:center;
            font-family:Raleway;
            font-size:24px;
            margin-top: 25px;
        }

        .Discription{
            color: black;
            font-size: 18px;
            font-family: Raleway;
            justify-content: space-between;
            text-decoration: none;
            text-align: left;
            margin-left: 100px;
            margin-right: 100px;
            margin-top: 40px;
            text-indent: 40px;

        }
        .PhotoHowToWork{
            margin-left: 100px;
            margin-right: 100px;
            margin-top: 40px;
            text-align:center;
            align-content: center;
            display: inline-block;


        }

    </style>
    <script>
        // JavaScript для изменения содержимого основной части страницы
        function showUserAgreement() {
            const mainContent = document.getElementById('mainContent');
            mainContent.innerHTML = `
                        <h2 class="HowIsWork">Как это работает?</h2>
                                
                        <div class="Discription">
                                <p>Для авторизации необходимо нажать на кнопку «Аккаунт». В открывшейся странице вы сможет либо авторизироваться в системе, либо зарегистрироваться. Для того, чтобы пройти авторизацию вам нужно ввести свой номер телефона и пароль.
                Для прохождения регистрации, вам необходимо заполнить поля: имя, номер телефона и пароль. После успешной регистрации вы сможете увидеть сообщение об успешной регистрации и авторизироваться.</p>
                                         <img src="../Content/Images/how_to_work_autorization.png" class="PhotoHowToWork" alt="Описание изображения"/>
                                                   <p>Вы сможете быстро искать интересующие блюда, а так же добавлять их в избранные. </p>
                                                                    <img src="../Content/Images/how_to_work_liks.png" class="PhotoHowToWork" alt="Описание изображения"/>



                                </div>
                    `;

            // Убираем класс 'active' у всех ссылок в навигации
            const navLinks = document.querySelectorAll('.site_header nav a');
            navLinks.forEach(link => link.classList.remove('active'));

            // Добавляем класс 'active' только для текущей ссылки
            const userAgreementLink = document.querySelector('.user_agreement');
            if (userAgreementLink) {
                userAgreementLink.classList.add('active');
            }
        }
    </script>
</head>
<body>
    @inject Microsoft.Extensions.Configuration.IConfiguration Configuration

    @{
        var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
        var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
    }

    <header class="site_header">
        <p class="logo">What To Eat?</p>
        <nav>
          @*   <a class="user_agreement @(currentAction == "UserAgreement" ? "active" : "")" href="/userAgreement">Пользовательское соглашение</a> *@
            <a class="user_agreement" href="#" onclick="showUserAgreement()">Как это работает</a>
            <a class="how_works @(currentController == "Home" && currentAction == "Index" ? "active" : "")" href="/Home/Index">Возможности</a>

           @*  <a class="recipes @(currentController == "RecipeCards" && currentAction == "Index" ? "active" : "")" href="/recipes">Рецепты</a> *@

            @if (Configuration["IsAutorization"] != "false")
            {
                <a class="recipes @(currentController == "RecipeCards" && currentAction == "Index" ? "active" : "")" href="/RecipeCards/Index">Рецепты</a>
                <a class="account @(currentController == "Account" && currentAction == "Profile" ? "active" : "")" href="/Account/Profile">Аккаунт</a>
            }
            else
            {
                <a class="account @(currentController == "Account" && currentAction == "Index" ? "active" : "")" href="/Account/Index">Аккаунт</a>
                
                
            }
        </nav>
    </header>
    <main id="mainContent">
        @RenderBody()
        @RenderSection("Scripts", required: false)
    </main>

</body>
</html>


