<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/siteAutorization.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/siteProfile.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.4.15/dist/vue.global.js"></script>
   
</head>
<body>
    @inject Microsoft.Extensions.Configuration.IConfiguration Configuration

    @{
        var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
        var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
    }

    <header class="site_header">
        <p class="logo">What To Eat?</p>
        <nav>
            <a class="user_agreement @(currentAction == "UserAgreement" ? "active" : "")" href="/userAgreement">Пользовательское соглашение</a>
            <a class="how_works @(currentController == "Home" && currentAction == "Index" ? "active" : "")" href="/Home/Index">Как это работает</a>

           @*  <a class="recipes @(currentController == "RecipeCards" && currentAction == "Index" ? "active" : "")" href="/recipes">Рецепты</a> *@

            @if (Configuration["IsAutorization"] != "false")
            {
                <a class="recipes" @(currentController == "RecipeCards" && currentAction == "Index" ? "active" : "") href="/RecipeCards/Index">Рецепты</a>
                <a class="account @(currentController == "Account" && currentAction == "Profile" ? "active" : "")" href="/Account/Profile">Аккаунт</a>
            }
            else
            {
                <a class="account @(currentController == "Account" && currentAction == "Index" ? "active" : "")" href="/Account/Index">Аккаунт</a>
                
                
            }
        </nav>
    </header>
    <main>

        @RenderBody()
        @RenderSection("Scripts", required: false)
    </main>
</body>
</html>


